@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
body header h2 {
  background-color: #FFFFFF;
  text-align: center;
  margin: 1em;
  font-family: "Raleway", sans-serif;
}
img {
  width: 20em;
  height: 20em;
  margin-top: 3em;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
  position: static;
  top: 0em;
  left: 0em;
  padding-right: 0em;
}
.col-lg-2 {
  padding: 1em;
  text-align: center;
  border: 0.1em solid #E0FFFF;
  background-color: #E0FFFF;
  margin-left: 2.5em;
  margin-bottom: 2em;
  color: #FFFFFF;
  -webkit-box-shadow: 0.01em 0.01em 1em #000000;
  box-shadow: 0.01em 0.01em 1em #000000;
}
.col-lg-2 a {
  color: #000000;
  font-size: large;
}
.programming {
  margin-top: 5em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
  background-color: #FFFFFF;
  padding-top: 1em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 5em;
  border-radius: 3em;
  -webkit-box-shadow: 0.3em 0.3em 1em #000000;
  box-shadow: 0.3em 0.3em 1em #000000;
}
.certification {
  margin-top: 5em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
  background-color: #FFFFFF;
  padding-top: 1em;
  padding-right: 5em;
  padding-left: 5em;
  border-radius: 3em;
  padding-bottom: 5em;
  -webkit-box-shadow: 0.3em 0.3em 1em #000000;
  box-shadow: 0.3em 0.3em 1em #000000;
}
.programming h2 {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}
body main {
  background-color: #E0FFFF;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
}
.col-lg-12 {
  padding-top: 0em;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  text-align: left;
}
table {
  width: 50em;
  height: 25em;
}
.programming .row {
  border: thin solid #000000;
}
.certification .row {
  border: thin solid #000000;
}
tr .bold {
  font-weight: bold;
}
.row .col-lg-6 img {
  padding-left: 0px;
  margin-left: 13em;
}
.nav.navbar-nav.navbar-right li {
  margin-top: 0.1em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  margin-bottom: 0.1em;
  border: thin solid #B2B2B2;
}
#topFixedNavbar1 .nav.navbar-nav p {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  margin: 0.1em;
  color: #000000;
}
.hover:hover {
  opacity: 0.3;
}
@media (max-width: 825px) {
  body {
    width: 825px;
  }
}
@media (max-width: 500px) {
  .col-lg-12 .programming {
    border-radius: 0px;
    margin: 0px;
    font-size: small;
  }
  .row .col-lg-6 {
    width: 0px;
    margin-right: 0px;
    margin-left: -6em;
  }
  body {
    width: 500px;
  }
}
@media (min-width: 1500px) {
  header h2 {
    font-size: 10em;
  }
	.programming{
		width: 1450px;
		margin-left: 15em;
	}
	.certification{
		width: 1450px;
		margin-left: 15em;
	}
}
@media (max-width:992px) {
  header h2 {
    font-size: 9em;
  }
}
@media (max-width:1499px) {
  header h2 {
    font-size: 6em;
  }
}
@media (max-width: 766px) {
  header h2 {
    font-size: 4em;
  }
}
@media (max-width:500px) {
  header h2 {
    font-size: 3em;
  }
  .certification {
    margin-top: 3em;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    margin-bottom: 3em;
  }
  td {
    font-size: 1em;
  }
  table {
    width: 20em;
    margin-left: 14em;
  }
  .programming {
    border-radius: 0px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  body {
    width: 500px;
  }
}
@media (min-width:501px) {
  td {
    font-size: 1.25em;
  }
}
@media (min-width: 1500px) {
  .programming,
  .certification {
    width: 90%;
    margin: 5em auto;
  }
}
* {
  box-sizing: border-box;
}